html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  width: 100%;
}

#app-container {
  height: 100%;
  width: 100%;
}

#navbar {
  width: 100%;
  height: 5%;
  background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: table; /* do we need this with position rel? */
  position: relative;
}

#dropdown {
  display: table-cell;
  margin-right: 10px;
  vertical-align: middle;
  color: white;
  position: absolute;
  top: 25%;
  right: 1%;
}

#navbar h3 {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0px;
  padding-left: 1%;
}

#new-location-button {
  color: white;
  background-color: rgba(0,0,0,0);
  display: table-cell;
  position: absolute;
  right: 5%;
  top: 3%;
}


#profile-img {
  height: 25px;
  width: 25px;
  border-radius: 15px;
  margin: 5px 5px 0px 0px;

}

.leaflet-container {
  height: 100%;
  width: 100%;
}

/* LOGIN PAGE CONTAINERS */
#login-page {
  height: 95%;
  width: 100%;
  position: relative;
  background-image: url("./images/hans-ripa-688800-unsplash.jpg");
  filter: blur(4px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





#login-panel {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 600px;
  width: 400px;
  margin: 0.1% 0.2%;
  background-color: white;
  border: 1px solid rgb(234,234,234);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
  border-radius: 2px;
  position: absolute;
  text-align: center;
}

#login-panel i {
  margin: 15px;
  color: brown;
}

#login-form {
  height: 60%;
  width: 90%;
  margin: 5%;
  background-color: white;
  border: 1px solid rgb(234,234,234);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
  border-radius: 2px;
}

.field-container {
  margin: 10%;
  width: 70%;
}

.input label {
  display: block;
  margin-right: 5px;
  font-family: 'Roboto', sans-serif;

}

.input input {
  display: block;
}

#signup-redirect {
  margin: 5%;
  height: 20%;
  width: 90%;
}

#signup-redirect button {
  margin-top: 10%;
}

#signup-page {
  height: 100%;
  width: 100%;
}

#signup-form {
  height: 90%;
  width: 90%;
  margin: 5%;
}

#signup-form .grid {
  height: 100%;
  width: 100%;
  
}

form h1 {
  text-align: center
}




/* DISCOVER PAGE CONTAINERS */

#discover {
  height: 94%;
  width: 100%;
  display: flex
}

#mapid {
  height: 98%;
  width: 70%;
  margin: 1% 0.5%
}


#preview {
  position: relative;
  height: 98%;
  width: 28%;
  background-color: white;
  border: 1px solid rgb(234,234,234);
  margin: 1% 0.5%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
  border-radius: 2px;
}

#preview-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35%;
  width: 96%;
  margin: 2%;
  position: absolute;
  border: 1px solid rgb(234,234,234);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
  border-radius: 2px;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  object-fit: cover;
}

#preview-img img {
  width: 94%;
  height: 92%;
  margin: 3% 4%;
  border-radius: 4px;
}

#preview-img h2 {
  font-family: 'Roboto', sans-serif;
  color: rgba(192,192,192,0.7)
}

#preview-short {
  position: absolute;
  top: 55%;
  left: 48%;
  overflow: auto;
  transform: translate(-50%,-50%);
  width: 96%;
  height: 40%;
  margin: 2%;
  text-align: center;
  border: 1px solid rgb(234,234,234);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
  border-radius: 2px;
}

#preview-content {
  padding: 5px;
  overflow: auto;
}

#review-button {
  position: absolute;
  bottom: 5%;
  right: 10%;
}

#details-button {
  position: absolute;
  bottom: 5%;
  left: 33%;
}

#scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 50%;
  width: auto;
}

#scrolling-wrapper .card {
  display: inline-block;
  margin: 5% 10%;
  height: 400px;
  width: 400px;
  color: rgba(64,64,64.0.9);
}


#scrolling-wrapper img {
  margin: 2%;
  width: 96%;
  height: 84%;
  object-fit: cover;
}

.marker {
  text-align: center;
  font-size: 2em;
  font-family: 'Permanent Marker', cursive;
}

/* Profile Page */

#profile-upper {
  display: flex;
}

#profile-upper h1 {
  display: inline-block;
  margin: 2em 3em 3em 0em;
}

#profile-upper .card {
  display: inline-block;
  height: 400px;
  width: 400px;
  margin: 3em;
}

#profile-upper img {
  height: inherit;
  width: inherit;
}

#profile-reviews {
  display: inline-block;
  height: 400px;
  width: 700px;
  margin: 3em;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* white-space: nowrap; */
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#profile-reviews .card {
  width: 80%;
  height: 50%;
  margin: 10%;
  overflow: auto;
}

#profile-reviews img {
  display: inline-block;
  height: 80%;
  width: 35%;
  margin: 2.5%;
  vertical-align: top;
  border-radius: 3px;
}

#profile-reviews .review-description {
  display: inline-block;
  width: 55%;
  height: auto;
  margin: 2.5%;
  vertical-align: top;
}
