/* ############### UNIVERSAL START ################ */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  width: 100%;
}

#app-container {
  height: 100%;
  width: 100%;
}

#navbar {
  width: 100%;
  height: 5%;
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: table; /* do we need this with position rel? */
  position: relative;
}

#dropdown {
  display: table-cell;
  margin-right: 10px;
  vertical-align: middle;
  color: white;
  position: absolute;
  top: 25%;
  right: 1%;
}

#navbar h3 {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0px;
  padding-left: 1%;
}

/* ############### UNIVERSAL END ################ */



/* ################# LOGIN BEGIN ################ */
#login-page {
  height: 95%;
  width: 100%;
  position: relative;
  background-image: url("./images/hans-ripa-688800-unsplash.jpg");
  filter: blur(4px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





#login-panel {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 600px;
  width: 400px;
  margin: 0.1% 0.2%;
  background-color: rgba(0,0,0,0.5);
  border: 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
  border-radius: 2px;
  position: absolute;
  text-align: center;
}


#login-form {
  height: 60%;
  width: 90%;
  margin: 15% 5%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: 1px solid rgba(234,234,234,0.3);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
  border-radius: 4px;
}

#login-form h1 {
  margin-top: 5%;
}

#login-form button {
  height: 40px;
  width: 100px;
  border-radius: 4px;
  background-image: url('./images/slate.png');
  color: white;
  border: none;
  font-family: 'Roboto', sans-serif;
}

#login-form .segment {
  background-color: inherit;
}

.field-container {
  margin: 10%;
  width: 70%;
}

.input label {
  display: block;
  margin-right: 5px;
  font-family: 'Roboto', sans-serif;

}

.input input {
  display: block;
}

#signup-redirect {
  margin: 5%;
  height: 20%;
  width: 90%;
}

#signup-redirect button {
  margin-top: 10%;
}

/* ################# LOGIN END ################ */

  /* IMAGE UPLOAD CARD */

#img-upload-card {
  text-align: center;
  padding: 10px;
}



  /* IMAGE UPLOAD CARD */



/* ################ SIGNUP BEGIN ############## */



#signup-page {
  height: 100%;
  width: 100%;
}

#signup-grid {
  margin-left: 20%;
}

#signup-form {
  height: 90%;
  width: 90%;
  margin: 5%;
}

#signup-form .grid.padded {
  height: 100%;
  width: 100%;
  padding-left: 20%;
}

#signup-form .card {
  background-image: url('./images/slate.png');
  color: white;
  border-radius: 4px;
}

#signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

#signup-form .segment {
  background-image: url('./images/slate.png');
  color: white;
  font-family: 'Roboto', sans-serif;
  border: 1px solid rgba(234,234,234,0.3);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
  border-radius: 6px;
}

#grid-submit.segment {
  background-image: none;
  text-align: center;
  box-shadow: none;
  border: none;
}

#grid-submit.segment button {
  background-image: url('./images/espresso.png');
  color: white;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  height: 80px;
  width: 300px;
  border-radius: 6px;
}








/* ########## DISCOVER/HOME PAGE BEGIN ########### */


.leaflet-container {
  height: 100%;
  width: 100%;
}

#discover {
  height: 94%;
  width: 100%;
  display: flex
}

#mapid {
  height: 98%;
  width: 70%;
  margin: 1% 0.5%;
}

#new-location-button {
 z-index: 1000;
 position: absolute;
 top: 10%;
 right: 32%;
 background-image: url('./images/slate.png');
 font-family: 'Robot', sans-serif;
 color: white;
}


#preview {
  position: relative;
  height: 98%;
  width: 28%;
  background-color: white;
  border: 1px solid rgb(234,234,234);
  margin: 1% 0.5%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
  border-radius: 2px;
}

#preview-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35%;
  width: 96%;
  margin: 2%;
  position: absolute;
  border: 1px solid rgb(234,234,234);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
  border-radius: 2px;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  object-fit: cover;
}

#preview-img img {
  width: 94%;
  height: 92%;
  margin: 3% 4%;
  border-radius: 4px;
}

#preview-img h2 {
  font-family: 'Roboto', sans-serif;
  color: rgba(192,192,192,0.7)
}

#preview-short {
  position: absolute;
  top: 55%;
  left: 48%;
  overflow: auto;
  transform: translate(-50%,-50%);
  width: 96%;
  height: 40%;
  margin: 2%;
  text-align: center;
  border: 1px solid rgb(234,234,234);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
  border-radius: 2px;
}

#preview-content {
  padding: 5px;
  overflow: auto;
}

#preview-lower {
  width: 96%;
  height: 20%;
  margin: 2%;
  bottom: 0%;
  position: absolute;
}

#review-button {
  display: block;
  width: 400px;
  height: 50%;
  color: rgba(255,255,255,0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  margin: auto;
  background-image: url('./images/slate.png');
  border-radius: 5px 5px 0px 0px;
}

#details-button {
  display: block;
  width: 400px;
  height: 50%;
  color: rgba(255,255,255,0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  margin: auto;
  background-image: url('./images/espresso.png');
  border-radius: 0px 0px 5px 5px;
}



/* ########## DISCOVER/HOME PAGE END ########### */

#scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 50%;
  width: auto;
}

#scrolling-wrapper .card {
  display: inline-block;
  margin: 5% 10%;
  height: 400px;
  width: 400px;
  color: rgba(64,64,64.0.9);
}


#scrolling-wrapper img {
  margin: 2%;
  width: 96%;
  height: 84%;
  object-fit: cover;
}

.marker {
  text-align: center;
  font-size: 2em;
  font-family: 'Permanent Marker', cursive;
}

#percentage-match {
  color: blue;
}

/* ################ PROFILE PAGE START #################### */

#profile-upper {
  display: flex;
}

#profile-upper h1 {
  display: inline-block;
  font-size: 4em;
  margin-bottom: 0.5em;
}


#profile-upper .card {
  width: 30%;
  margin: 2em;
  height: 600px;
}

#profile-upper .card.profile-card {
  margin: 4em;
}

#profile-mid {
  height: 10%;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  color: white;
  border-radius: 7px;
  width: 90%;
  margin: 5% 5%;
}

#profile-lower {
  display: grid;
}



.img-container {
  display: block;
  height: auto;
  position: relative;
  overflow: hidden;
  margin: 2em;
}

.img-container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

#success-img {
  height: 180px;
  width: 180px;
  display: inline-block;
  margin: 0% 10%;
}

.centered h1 {
  vertical-align: top;
  display: inline-block;
  font-size: 6em;
}

.modals img {
  width: 80%;
  height: auto;
  margin: 5% 10%;
  object-fit: cover;
}

/* ######### REVIEWMODAL START ############## */


#review-form .grid {
  width: 100%;
  height: 100%;
  margin-left: 12%;
}

#review-form .button {
  width: 80%;
  margin: 0% 10%;
}




/* ######### REVIEWMODAL END ############## */


    /* ########### SCORECARD START ############## */

#profile-reviews {
  display: inline-block;
  height: 650px;
  width: 60%;
  max-width: 960px;
  margin: 2em;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* white-space: nowrap; */
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#users-review {
  background-image: url('./images/score_card_800px.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 900px !important;
  height: 534px;
  position: relative;
}

#location-card {
  height: 220px;
  width: 220px;
  position: absolute;
  top: 10%;
  left: 9%;
  border-radius: 3px;
  filter: grayscale(80%);
}

.score.marker {
  font-family: 'Permanent Marker', cursive;
  color: rgba(0,0,0,0.6)
}

#title-card {
  position: absolute;
  top: 8%;
  left: 50%;

}

#location-name-card {
  position: absolute;
  top: 15%;
  left: 55%;
}

#time-card {
  position: absolute;
  top: 52.5%;
  left: 16%;
  font-family: courier;
}

#busy-card {
  position: absolute;
  top: 62%;
  left: 24%;
}

#ambiance-card {
  position: absolute;
  top: 72%;
  left: 24%;
}

#table-card {
  position: absolute;
  top: 82%;
  left: 26%;
}

#noise-card {
  position: absolute;
  top: 53%;
  left: 50%;
}

#study-card {
  position: absolute;
  top: 62%;
  left: 50%;
}

#friend-card {
  position: absolute;
  top: 71%;
  left: 56%;
}

#value-card {
  position: absolute;
  top: 53%;
  left: 75%;
}

#quality-card {
  position: absolute;
  top: 62%;
  left: 79%;
}

#roast-card {
  position: absolute;
  top: 71%;
  left: 73%;
}

#sig-card {
  position: absolute;
  top: 82%;
  left: 65%;
}

#comment-container {
  position: absolute;
  top: 26%;
  left: 40%;
  font-size: .5em;
  width: 420px;
  height: 140px;
  overflow-y: auto;
}

#tape-top {
  position: absolute;
  top: -1%;
  left: -7%;
  z-index: 999;
  height: 150px;
  width: 300px;
}




    /* ########### SCORECARD END ############## */

/* ################ PROFILE PAGE END #################### */
